footer {
      text-align: center;
  }

body {
    background-image: url('subtle_dots.png');
}

.student{
  position: absolute;
  display: block;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  overflow-y: hidden ! important;
  overflow-x: hidden ! important;
  background-size: cover;

  border-width: 1px;
  border-style: solid;
  border-color: #f8f8f8;

  style-webkit-background-clip: padding-box; 
  -moz-background-clip: padding; 
  background-clip: padding-box;

}

.student:hover {
  border-color: #000000;
}


div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 30px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  color: white;
  background: black;
  border: 0px;      
  border-radius: 2px;           
  pointer-events: none;         
}

.skill{
  text-anchor: middle;
  text-align: center;
  text-size: 20px;
  position: absolute;
  margin: 0 auto;
  cursor: pointer;
  padding: 4pt;
  border-radius: 8px;
}

.skill:hover {
  background:#f8f8f8;
  z-index:200;
}

* {
  -webkit-user-select: none;
}

*:active,
text:hover {
  cursor: pointer;
}

@media screen and (max-width: 991px){
    .columns_skills{
        height: 200px;
        overflow:scroll;
    }
    .columns_people{
      height: 200px;
      overflow:scroll;
    }
    .columns_classes{
      height: 200px;
      overflow:scroll;
    }
}

@media screen and (min-width: 992px){
    .columns_skills{
        -moz-column-count:6; /* Firefox */
        -webkit-column-count:6; /* Safari and Chrome */
        column-count:6;
        width: 1000px;
    }
    .columns_people{
        -moz-column-count:8; /* Firefox */
        -webkit-column-count:8; /* Safari and Chrome */
        column-count:8;
        width: 1280px;
    }
    .columns_classes{
        -moz-column-count:2; /* Firefox */
        -webkit-column-count:2; /* Safari and Chrome */
        column-count:2;
        width: 500px;
    }
}
