footer {
    text-align: center;
}

body {
    /* J: grey background gives more presence to light grey interest-tags and force lines look better, especially in retina screens */
    /* background-image: url('subtle_dots.png'); */
    background: #ccc;
}

/* J: Removed unnecessary strong border color (white) */  
.people{
  position: absolute;
  display: block;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  overflow-y: hidden ! important;
  overflow-x: hidden ! important;
  background-size: cover;
  background-color: #999999;
  color: #f8f8f8;  
  text-align:center;

  font-size: 20px;
  line-height: 35px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;

  style-webkit-background-clip: padding-box; 
  -moz-background-clip: padding; 
  background-clip: padding-box;
  z-index:12;
}

/* J: slight border is present only when hovering */
.people:hover {
  border-color: #333;
  z-index:200;
}

.people:img {
  z-index: 0;
}

.student:text{
  z-index: 0;
}

.link {
    stroke: #bbbbbb;
    stroke-width: 1.5px;
}

/* J: Made tooltip to match the style of other elements. Removed black and white, use shades instead. */
div.tooltip {   
  position: absolute;           
  text-align: center;           
  padding: 2pt 4pt;             
  color: #eee;
  background: #333;
  border-radius: 4px;           
  pointer-events: none;
  z-index:210;         
}

/* J: Skills have slighter padding so they won't cover each other so easily. Removed too strong white color */
.skill{
  text-anchor: middle;
  text-align: center;
  background:#ddd;
  position: absolute;
  margin: 0 auto;
  cursor: pointer;
  padding: 2pt;
  border-radius: 8px;
  z-index:10;
}

/* Removed too border as unnecessary and too strong for the purpose. */
.skill:hover {
  background:#f8f8f8;
  z-index:200;
}

* {
  -webkit-user-select: none;
}

*:active,
text:hover {
  cursor: pointer;
}

*:active,
a:hover {
  cursor:pointer;
}

*:active,
.people:hover {
  cursor:pointer;
}

@media screen and (max-width: 991px){
    .columns_skills{
      height: 200px;
      overflow:scroll;
    }
    .columns_people{
      height: 200px;
      overflow:scroll;
    }
    .columns_classes{
      height: 200px;
      overflow:scroll;
    }
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* J: Added slider and made some color and position adjustments to fit better to navbar */

div.slider.slider-horizontal {
  top: 6px;
}

.slider-handle {
  background-color: #9a9495 !important;
  background-image: -webkit-linear-gradient(top, #949b9f 0%, #34404e 100%);
  background-image: -o-linear-gradient(top, #949b9f 0%, #34404e 100%);
  background-image: linear-gradient(to bottom, #949b9f 0%, #34404e 100%);
}



@media screen and (min-width: 992px){
    .columns_classes{
        -moz-column-count:2; /* Firefox */
        -webkit-column-count:2; /* Safari and Chrome */
        column-count:2;
        width: 500px;
    }
    .columns_skills{
        -moz-column-count:6; /* Firefox */
        -webkit-column-count:6; /* Safari and Chrome */
        column-count:6;
        width: 1000px;
    }
    .columns_people{
        -moz-column-count:8; /* Firefox */
        -webkit-column-count:8; /* Safari and Chrome */
        column-count:8;
        width: 1280px;
    }
}
