footer {
      text-align: center;
  }

body {
    background-image: url('subtle_dots.png');
}

.col-md-8{
    border-style: solid;
    border-width: thin;
}

.student{
  position: absolute;
  display: block;
  border-radius: 20px;
  width: 40px;
  height: 40px;

  overflow-y: hidden ! important;
  overflow-x: hidden ! important;
  background-size: cover;//100% 100%;
  stroke-width: 2;

  style-webkit-background-clip: padding-box; 
  -moz-background-clip: padding; 
  background-clip: padding-box;
}

.skill{
  font-family: verdana, sans-serif;
  text-anchor: middle;
  text-align:center;
  text-size:20px;
  position: absolute;
  margin: 0 auto;
 /* display:block;*/
}

* {
  -webkit-user-select: none;
}

*:active,
text:hover {
  cursor: pointer;
}

/*
.profile {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}*/